
<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DNSLink - link content with DNS TXT records</title>
</head>
<body>

<style type="text/css">
body {
  font-size: 14px;
  line-height: 22px;
  background: #f4f4f4;
  color: #000;
  font-family: Helvetica Neue, Helvetica, Arial;
}
.interface {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
}
div#sidebar {
  background: #fff;
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 15px 0 30px 30px;
  border-right: 1px solid #bbb;
  box-shadow: 0 0 20px #ccc; -webkit-box-shadow: 0 0 20px #ccc; -moz-box-shadow: 0 0 20px #ccc;
}
div#sidebar h1 a {
  color: #000;
  text-decoration: none;
}
.toc a, .toc a:visited {
  display: block;
  color: black;
  font-weight: bold;
  margin-top: 5px;
  text-decoration: none;
}
  .toc a:hover {
    text-decoration: underline;
  }
  #sidebar .version {
    font-size: 10px;
    font-weight: normal;
  }
.toc ul {
  font-size: 12px;
  line-height: 13px;
  margin: 10px 0px;
  padding-left: 15px;
  font-family: Lucida Grande;
  list-style: dash;
}
.toc li {
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}
.toc > ul {
  padding-left: 0px;
  list-style: none;
}
.toc > ul > li {
  margin: 30px 0px;
}
.toc li a {
  text-decoration: none;
  color: black;
}
.toc > ul > li > a {
  text-decoration: underline;
}
.toc li a:hover {
  text-decoration: underline;
}
input#function_filter {
    width: 80%;
}
div.container {
  max-width: 750px;
  margin: 40px 0 50px 460px;
}
img#logo {
  width: 396px;
  height: 69px;
}
div.warning {
  margin-top: 15px;
  font: bold 11px Arial;
  color: #770000;
}
p {
  margin: 20px 0;
  max-width: 750px;
}
a, a:visited {
  color: #444;
}
a:active, a:hover {
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
  padding-top: 20px;
}
  h2 {
    font-size: 20px;
  }
b.header {
  font-size: 16px;
  line-height: 30px;
}
span.alias {
  font-size: 14px;
  font-style: italic;
  margin-left: 20px;
}
table, tr, td {
  margin: 0; padding: 0;
}
  td {
    padding: 2px 12px 2px 0;
  }
  table .rule {
    height: 1px;
    background: #ccc;
    margin: 5px 0;
  }
ul {
  list-style-type: circle;
  padding: 0 0 0 20px;
}
  li {
    margin-bottom: 5px;
  }
  code {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
  }
  .container code {
    color: #a00;
    background-color: #ddd;
    padding: 4px;
    border-radius: 5px;
  }
  .container code, .container pre, .container tt {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
  }
    tt {
      padding: 0px 3px;
      background: #fff;
      border: 1px solid #ddd;
      zoom: 1;
    }
    .container pre, .container blockquote {
      border-left: 5px solid #bbb;
      margin: 0px 0 30px;
      padding: 0px 15px;
    }
    .container pre {
      font-size: 12px;
      padding: 2px 0 2px 15px;
      margin: 0px 0 30px;
    }
    .container pre code {
      color: #000;
      background: none;
    }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 640px),
      only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 640px),
      only screen and (min-device-pixel-ratio: 1.5) and (max-width: 640px) {
  img {
    max-width: 100%;
  }
  div#sidebar {
    -webkit-overflow-scrolling: initial;
    position: relative;
    width: 90%;
    height: 120px;
    left: 0;
    top: -7px;
    padding: 10px 0 10px 30px;
    border: 0;
  }
  img#logo {
    width: auto;
    height: auto;
  }
  div.container {
    margin: 0;
    width: 100%;
  }
  p, div.container ul {
    max-width: 98%;
    overflow-x: scroll;
  }
  pre {
    overflow: scroll;
  }
}
</style>

<div id="sidebar">
  <h1><a href="#">DNSLink</a></h1>
  <div class="toc">
    {{{toc}}}
  </div>
</div>

<div id="container" class="container">
  {{{content}}}
</div>

</body>
</html>
